@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

$header:#D0EFFF;
$textColor: #023A51;
$highlightColor: #00B7EF;


#qualParent.parent{
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
}

#infoContainer.infoContainer{
    width: 80%;
    height: 400px;
    background-color: #023A51;
}

#imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: #00B7EF;
}

#personalImage.img{
    border-radius: 999px;
    margin-top: 20px;
    // margin-left: 20px;
}

#name{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 24px;
    // background-color: green;
}