#navPc {
	display: block;
}

#headerWrapper{
}

#overlay{
    display: inline-flex;
    position: absolute;
    right: 0;
  }

#navMobile {
	display: none;
}

@media only screen and (max-width: 1055px) {
	#navPc {
		display: none;
	}
	#navMobile {
		display: flex;
        width: 100%;
	}
}