@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

$header:#D0EFFF;
$textColor: #023A51;
$highlightColor: #00B7EF;


.parent{
    width: 100%;
    background-color: white;
    display: inline-block;
}