@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
#HomeParent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

#CarouselParent {
  width: 60%;
  min-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 400px;
  max-width: 700px;
}

#CarouselImage {
  border-radius: 30px;
}

#text1div.text1div {
  padding-top: 20px;
  width: 30vw;
  min-width: 400px;
  margin-left: 2%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titel {
  height: 60px;
  margin-bottom: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#titel2.titel {
  font-size: 40px;
  height: 40px;
  min-width: 100px;
}

.highlighted {
  color: #00B7EF;
}

.firstTextChild {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-right: 2%;
  max-width: 900px;
}

#HomeMainButtonDiv {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#HomeMainButton {
  background-color: #00B7EF;
  width: 200px;
  height: 50px;
  margin-bottom: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#HomeMainButton:hover {
  background-color: #023A51;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  text-decoration: none;
}

@media only screen and (max-width: 1055px) {
  #text1div.text1div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .titel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .firstTextChild {
    width: 90%;
    max-width: 600px;
    word-wrap: wrap;
  }
  #HomeParent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #CarouselParent {
    width: 900px;
  }
}
/*# sourceMappingURL=homeStyle.css.map */