@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

$header:#D0EFFF;
$textColor: #023A51;
$highlightColor: #00B7EF;
$hoverColor: #023A51;

#HomeParent{
    // background-color: orange;
    // display: inline-block;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    // margin: 10px 0
    // padding-right: 30px;
}

#CarouselParent{
    width: 60%;
    min-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    // margin-right: 2%;
    // margin: 0;
    // padding: 0;
    // display: inline-block;
    
}

#CarouselImage{
    border-radius: 30px;
    max-height: 400px;
    overflow: hidden;
}

#text1div.text1div{
    padding-top: 20px;
    width: 30vw;
    min-width: 400px;
    margin-left: 2%;
    // background-color: orange;
    // text-align: center;
    display: inline-flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
}

.titel{
    height: 60px;
    margin-bottom: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 60px;
    display: flex;
    align-items: center;
}

#titel2.titel{
    font-size: 40px;
    height: 40px;
    min-width: 100px;
}

.highlighted{
    color: $highlightColor
}

.firstTextChild{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    // text-align: center;
    // padding-left: 2%;
    padding-right: 2%;
    max-width: 900px;
}

#HomeMainButtonDiv{
    // background-color: orange;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#HomeMainButton{
    background-color: #00B7EF;
    width: 200px;
    height: 50px;
    margin-bottom: 0;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;

    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: $hoverColor;
        -webkit-transition: background-color 200ms ease-in-out;
        -ms-transition: background-color 200ms ease-in-out;
        transition: background-color 200ms ease-in-out;
        
        text-decoration: none;
    }
}

// #overlay{
//     display: inline-flex;
//     position: absolute;
//     right: 0;
// }

// #navMobile {
// 	display: none;
// }

@media only screen and (max-width: 1055px) {
	#text1div.text1div {
		width: 100%;
        // text-align: center;
        display: flex;
        // justify-content: center;
        align-items: center;
	}
    .titel{
        display: flex;
        justify-content: center;
    }
    .firstTextChild{
        width: 90%;
        max-width: 600px;
        word-wrap: wrap;
    }
    #HomeParent{
        display: flex;
        // align-items: center;
        justify-content: center;
    }
    #CarouselParent{
        width: 900px;
    }
	// #navMobile {
	// 	display: flex;
    //     width: 100%;
    // }
}