@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$header:#D0EFFF;
$textColor: #023A51;
$highlightColor: #00B7EF;
$hoverColor: #023A51;

.panelParent{
    width: 100%;
    position: relative;

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: center;

    margin-bottom: 50px;
}

.img{
    height: 'auto';
    max-width: 95%;
    border-radius: 20px;
    
    filter: drop-shadow(0.7rem 0.7rem 1rem #002d44a6);
}


.title{
    font-family: 'Quicksand', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: $highlightColor;
}

.textDiv{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#projectText.text{
    width: 90%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 25px;
    word-wrap: break-word;
    text-align: center;
    color: black
}

//Controls actual Button pill
//Responsible for fade, background color, etc.
.linkDiv{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;   
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 999px;

    background-color: $highlightColor;
    &:hover{
        background-color: $hoverColor;
        -webkit-transition: background-color 200ms ease-in-out;
        -ms-transition: background-color 200ms ease-in-out;
        transition: background-color 200ms ease-in-out;
    }
}

//Text in button pill
//turns off text decoration, etc.
.link{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;

    &:hover{
        text-decoration: none;
        color: white
    }
}

#Panel2ImgMobile{
    display: none;
}

#Panel2ImgPc{
    display: block;
}

@media only screen and (max-width: 984px) {
	#Panel2ImgMobile {
		display: block;
	}
	#Panel2ImgPc {
        display: none;
	}
}

#Panel4ImgMobile{
    display: none;
}

#Panel4ImgPc{
    display: block;
}

@media only screen and (max-width: 1284px) {
	#Panel4ImgMobile {
		display: block;
	}
	#Panel4ImgPc {
        display: none;
	}
}


.DesProjPanelTitle{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: white
}

.DesProjPanelText{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    max-width: 500px;
    margin-left: 20px;
    margin-top: 20px;
}

.DesProjImgWrapper{
    display: inline-flex;
    flex-wrap: wrap;
}
.DesProjPanelWrapper{
    margin-left: 5%;
}